---
layout: base
---
<h1>
    these are the notes i took during my bachelor's degree
</h1>
<ul class="archive-list">
    <li><a target="_blank" href="/pdfs/HM3.pdf">höhere mathematik 3</a></li>
    <li><a target="_blank" href="/pdfs/LFT.pdf">luftfahrttechnik</a></li>
    <li><a target="_blank" href="/pdfs/SYSTEME1.pdf">luftfahrtsysteme</a></li>
    <li><a target="_blank" href="/pdfs/NUMSIM.pdf">numerische simulation</a></li>
    <li><a target="_blank" href="/pdfs/RAUMFAHRT.pdf">raumfahrt</a></li>
    <li><a target="_blank" href="/pdfs/STATIK.pdf">statik</a></li>
    <li><a target="_blank" href="/pdfs/STROEMUNG1.pdf">strömungslehre 1</a></li>
    <li><a target="_blank" href="/pdfs/STROEMUNG2.pdf">strömungslehre 2</a></li>
    <li><a target="_blank" href="/pdfs/THERMO.pdf">thermodynamik</a></li>
    <li><a target="_blank" href="/pdfs/TM2.pdf">technische mechanik 2</a></li>
    <li><a target="_blank" href="/pdfs/TM3.pdf">technische mechanik 3</a></li>
</ul>