---
layout: base
---
<h1>
    these are the notes i took during my bachelor's degree
</h1>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>
<a target="_blank" href="/pdfs/LFT.pdf">Document 1</a>

