---
layout: base
---

<ol>
    {% assign sorted_notes = collections.notes | sort: 'date' | reverse %}
    {% for note in sorted_notes %}
    <li>
        <p>{{ note.data.date | date: "%B %d, %Y" }}
        <a href="{{ note.url }}">{{ note.data.title }}</a>
        <br>
        </p>
    </li>
    {% endfor %}
</ol>
