---
layout: base
---
<h1>
    all notes done so far
</h1>
<ol class="notes-list">
    {% assign sorted_notes = collections.notes | sort: 'date' | reverse %}
    {% for note in sorted_notes %}
        <li>
            <p>
                <span style="text-transform: lowercase;" class="notes-date">{{ note.data.date | date: "%B %d, %Y" }}</span>
                <span class="notes-type">{{ note.data.type }}</span>
                <a href="{{ note.url }}">{{ note.data.course }} </a>
            </p>
        </li>
    {% endfor %}
</ol>
