:root {
  --color1: #212121;
  --color2: #545454;
  --color3: #808080;
  --color4: #FFD166;
  --backgroundcolor: #181818;
  --outlinecolor: #353535;
  --textcolor: #ffffff;
}

html {
  background-color: var(--backgroundcolor);
}
  
body {
    background: var(--color1);
    color: var(--textcolor);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: circle;
    padding: 30px;
  }

footer {
  display: block;
  padding-top: 50px;
  text-align: right;
  color: var(--color3);
}

footer p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  margin-left: 10px;
}

nav {
    display: flex;
    background-color: var(--color1);
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo a {
  color: var(--textcolor);
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
  font-size: 20px;
  padding: 10px 20px;
  display: block;
}

h1 {
  padding: 10px 20px;
}

ol {
    display: block;
    list-style-type: decimal;
    font-size: 20px;
    font-weight: bold;
}

.notes-list {
  list-style: none;
}

.notes-list li {
  margin-bottom: 10px;
}

.notes-date {
  display: inline-block;
  width: 200px;
}

.notes-type {
  display: inline-block;
  width: 150px;
}

a:link {
    text-decoration: none;
    color: var(--textcolor);
  }
a:visited {
    text-decoration: none;
    color: var(--textcolor);
  }
a:hover {
    text-decoration: underline;
    color: var(--textcolor);
  }
a:active {
    text-decoration: underline;
    color: var(--textcolor);
  }

@media (max-width: 600px){

}