<!doctype html>
<html lang="en">  
    <head>
        <title>Page title</title>
        <link rel="stylesheet" href="/style.css">
        {% if includesMath %}
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
        MathJax = {
            tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
          };
        </script>
        {% endif %}
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/">franzkoehler.com</a>
            </div>
            <ul class="navbar">
                <li><a href="/">home</a></li>
                <li><a href="/all-notes">notes</a></li>
                <li><a href="/archive">archive</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
        {{ content }}
        <footer>
            <p>
                <span class="name">Franz Koehler</span>
                <span class="links">
                    <a href="https://github.com/franzbanz">github</a>
                    <a href="https://linkedin.com/in/franzkoehler">linkedin</a>
                </span>
            </p>
        </footer>
    </body>
</html>