<!doctype html>
<html lang="en">  
    <head>
        <title>Page title</title>
        <link rel="stylesheet" href="/style.css">
        {% if includesMath %}
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
        MathJax = {
            tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
          };
        </script>
        {% endif %}
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/">franzkoehler.com</a>
            </div>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        {{ content }}
    </body>
</html>