:root {
  --black: #272838;
  --yellow: #f3de8a;
  --yellow_dark: #f3c68a;
  --red: #eb9486;
  --red_dark: #eb8686;
  --blue: #7e7f9a;
  --blue_dark: #727597;
  --white: #f9f8f8;
  --gray: rgb(160, 156, 156);
}

header{
  padding: 0px;
  margin: 0px;
  width: 100%;
  list-style-type: none;
}

body {
  padding: 8px;
  margin: 0px;
  background-color: var(--gray);
  font-family: Helvetica;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section{
}
.lecture_section{
  background-color: var(--red);
}
.exam_section{
  background-color: var(--yellow);
}
.about_section{
  background-color: var(--blue);
}

@media (max-width: 600px){
}