:root {
  --color1: #272838;
  --color2: #f3de8a;
  --color3: #eb9486;
  --color4: #7e7f9a;
  --color5: #f9f8f8;
}

body {
  background-color: var(--color5);
  color: var(--color1);
  font-family: Helvetica;
  font-size: medium;
  margin: 0 auto;
  padding: 8px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.nav a {
  display: block;
  padding: 0;
  text-align: center;
}

div{
  display: flex;
}

section{
  width: 33.3333%;
  height: 100%;
  border: 1px solid var(--color1);
}

section.lecture-notes{
  background-color: var(--color2);
  margin-right: -0.5px;
}

section.exams{
  background-color: var(--color3);
}

section.about{
  background-color: var(--color4);
  margin-left: -0.5px;
}

h2{
  padding-left: 8px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

h3{
  padding-left: 8px;
  margin-bottom: 0px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.notes-type{
  display:inline-block; width: 100px
}

ol{
  list-style-type: none;
  padding-left: 8px;
  margin-top: 5px;
}

p{
  padding-left: 8px;
}

header{
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--color1);
}  

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

@media (max-width: 800px){
  div{
    flex-wrap: wrap;
    justify-content: left;
  }

  section{
    width: 50%;
    box-sizing: border-box;
  }

  section.lecture-notes{
    margin-right: -0.5px;
  }
  
  section.about{
    width: 50%;
    margin-left: 0px;
    margin-top: -0.5px;
  }
}

@media (max-width: 600px){
  /* .notes-type{
    display:inline-block; width: 130px
  } */
  
  div{
    flex-wrap: wrap;
    justify-content: center;
  }

  section{
    width: 100%;
  }

  section.lecture-notes{
    margin-right: 0px;
    margin-bottom: -0.5px;
  }
  
  section.about{
    width: 100%;
    margin-left: 0px;
    margin-top: -0.5px;
  }
}